*{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", system-ui;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 572px;
    background: linear-gradient(1deg, #1c81c9, #189018);
    color: #ffffff;
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 25px 25px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ffffff;
    color:#000000;
    padding: 10px 24px;
    height: 60px;
    border-radius: 20px;
    flex: 1;
    margin-right: 20px;
    font-size: 25px;
}
.search button{
    border: 0;
    outline: 0;
    background: #43da7d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 18px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 30px;
    margin-top: -10px
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
